@media (max-width: 1600px) {

    .container {
        width: calc(100% - 86px);
        padding: 0;
    }

    :root {
        --container-margin: 80px;
    }

    /* Header */

    .header__container {
        width: 100%;
        justify-content: space-between;
        padding: 35px 36px 35px 43px;
    }

    .burger {
        position: relative;
        display: block;
        display: flex;
        align-items: center;
        width: 30px;
        height: 23px;
        padding: 0;
        border: none;
        background-color: transparent;
    }

    .burger__line {
        position: absolute;
        transform: translateX(-7%);
        width: 30px;
        height: 3px;
        background-color: #333;
    }

    .burger__line:nth-child(1) {
        top: 0;
    }

    .burger__line:nth-child(3) {
        bottom: 0;
    }

    .header__logo img {
        width: 150px;
        height: 48px;
    }

    .header__list {
        display: none;
    }


    /* Hero */
    .hero__container {
        min-height: 668px;
        padding: 160px 76px;
        margin-bottom: var(--container-margin);
        background-image: url('./images/low-angle-photo.png');
        background-size: cover;
    }

    .hero__title {
        margin-bottom: 15px;
        font-weight: 800;
        font-size: 60px;
        line-height: 73px;
    }

    .hero__text {
        margin-bottom: 60px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }



    /* О нас */
    .about-us__title {
        margin-bottom: 12px;
    }

    .about-us__text {
        min-height: 263px;
        margin-bottom: 53px;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
    }

    .about-us__article {
        flex-direction: column;        
    }

    .about-us-left {
        min-width: 924px;
        background-image: url('./images/Rectangle2.jpg');
        background-size: cover;
    }

    .about-us-right {
        min-width: 924px;
    }

    



}

/* @media (max-width: 1024px) {
    
    .hero__container {
        padding: 100px 77px;
        background-image: url('./images/low-angle-photo.png');
        
    }
} */