/* header */
.header__container {
    width: 100%;
    height: 322px;
    border-radius: 40px 40px 0px 0px;
    background: linear-gradient(270deg, #FFF 64.61%, #E0E0E0 100%);
}

.header__logo-block {
    margin-bottom: 68px;
    padding-left: 25px;
    padding-top: 68px;
    border-radius: inherit;
}

.header__logo-link {
    width: 512px;
    height: 126px;
}

.header__nav {
    width: 100%;
    height: 60px;
    background-color: var(--dark-gray-color);
}

.header__nav-list {
    justify-content: space-between;
}

.header__nav-link {
    position: relative;
    height: 60px;
    padding: 20px 25px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--container-and-text-white-color);
}

/* общий стиль для header и footer */
.header__nav-span,
.footer__nav-span,
.information-list__link {
    position: relative;
}

/* общий стиль для header и footer */
.header__nav-span::after,
.footer__nav-span::after,
.information-list__link::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: var(--container-and-text-white-color);
    transform: scaleX(0);
    transition: var(--transistion);
}

.header__nav-link:focus-visible {
    outline: none;
}

.header__nav-link:focus {
    transition: var(--transistion);
    background-color: var(--grey-color);
}

.header__nav-link:hover .header__nav-span::after {
    transform: scaleX(1);
}

.header__nav-link:active {
    transition: var(--transistion);
    background-color: var(--dark-gray-color);
}

/* main content */
.main-content {
    min-height: 509px;
}

.main-content__entries-group {
    width: 840px;
    padding: 24px;
    padding-top: 25px;
}

.entries-group__list {
    flex-wrap: wrap;
    gap: 25px;
}

.entries-group__item {
    position: relative;
    width: 383px;
    height: 217px;
    padding-top: 177px;
    background-image: url(../../img/entries-group__item-bcg.png);
    background-repeat: no-repeat;
}

@keyframes entries-group-animation-block {
    from {
        height: 47px;
        top: 130px;
    }

    to {
        height: 177px;
        top: 0;
    }
}

@keyframes entries-group-hidden-text {
    from {
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

.entries-group__interactive-link {
    position: absolute;
    width: 100%;
    height: 47px;
    top: 130px;
    padding: 17px 15px;
    opacity: 0.85;
    transition: var(--transistion);
    background-color: var(--container-and-text-white-color);
    cursor: pointer;
}

.entries-group__hidden-text {
    opacity: 0;
    visibility: hidden;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: inherit;
}

.entries-group__item:focus-within {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.entries-group__interactive-link:focus-visible {
    transform: var(--transistion);
    outline: none;
}

.entries-group__interactive-link:focus-visible .entries-group__hidden-text {
    animation: entries-group-hidden-text .7s ease-in-out 1 forwards
}

.entries-group__interactive-link:focus {
    animation: entries-group-animation-block .2s linear 1 forwards;
    opacity: 1;
    background-color: var(--dark-gray-color);
    color: var(--container-and-text-white-color);
}

.entries-group__interactive-link:focus .entries-group__hidden-text {
    visibility: visible;
    opacity: 1;
}

.entries-group__interactive-link:hover {
    animation: entries-group-animation-block .2s linear 1 forwards;
}

.entries-group__item:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.entries-group__interactive-link:hover .entries-group__hidden-text {
    animation: entries-group-hidden-text .7s ease-in-out 1 forwards
}

.entries-group__interactive-link:active {
    color: var(--dark-gray-color);
    background-color: var(--container-and-text-white-color);
}

.entries-group__meta-group {
    width: 100%;
    height: 40px;
    padding-left: 27px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-gray-color);
}

.entries-group__post-data-block {
    align-items: center;
    justify-content: space-between;
    width: 95px;
    height: 18px;
    font-size: 14px;
    font-weight: 400;
    color: var(--container-and-text-white-color);
}

.entries-group__news-link {
    width: 115px;
    height: 100%;
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 400;
    transition: var(--transistion);
    text-transform: uppercase;
    color: var(--container-and-text-white-color);
    background-color: var(--grey-color);
}

.entries-group__news-link:focus-visible {
    outline: none;
}

.entries-group__news-link:focus {
    color: var(--footer-black-color);
    background-color: var(--bcg-body-color);
}

.entries-group__news-link:hover {
    color: var(--container-and-text-white-color);
    background-color: var(--dark-gray-color);
}

.entries-group__news-link:active {
    background-color: var(--grey-color);
}

.main-content__sidebar {
    width: 300px;
    min-height: 509px;
    background-color: var(--sidebar-bcg-color);
}

.sidebar__title {
    width: 100%;
    height: 40px;
    padding: 13px 15px;
    color: var(--container-and-text-white-color);
    background-color: var(--sidebat-bcg2-color);
    border-left: 6px solid #000;
}

.sidebar__text-block {
    width: 100%;
    min-height: 151px;
    padding: 11px 13px 13px 15px;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--container-and-text-white-color);
    border-left: 6px solid #717171;
}


/* footer */
.footer {
    height: 182px;
    background-color: var(--bcg-body-color);
}

.footer-top {
    height: 142px;
}

.footer-top__left {
    width: 840px;
    height: 100%;
}

.footer__nav-list {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: var(--grey-color);
}

.footer__nav-link {
    height: 100%;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--container-and-text-white-color);
}

.footer__nav-link:focus-visible {
    outline: none;
}

.footer__nav-link:focus {
    transition: var(--transistion);
    background-color: var(--footer-black-color);
}

/* стиль на нижнюю черту прописан в header */
.footer__nav-link:hover .footer__nav-span::after {
    transform: scaleX(1);
}

.footer__nav-link:active {
    transition: var(--transistion);
    background-color: var(--dark-gray-color);
}

.footer__text-block {
    width: 100%;
    height: 102px;
    padding: 28px 437px 25px 26px;
    background-color: var(--dark-gray-color);
    border-radius: 0px 0px 0px 40px;
}

.footer__text {
    font-size: 14px;
    font-weight: 400;
    color: var(--container-and-text-white-color);
}

.footer-top__right {
    width: 300px;
    height: 100%;
    padding: 29px 83px;
    border-radius: 0px 0px 40px 0px;
    background-color: var(--footer-black-color);
}

.footer__bottom {
    justify-content: space-between;
    padding: 25px 0 28px 50px;
}

.footer__bottom-left-block {
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-gray-color);
}

.information-list__item {
    display: flex;
    align-items: center;
    height: 15px;
    padding: 1px 3px 0 3px;
}

.information-list__item:nth-child(2) {
    border-left: 1px solid var(--dark-gray-color);
    border-right: 1px solid var(--dark-gray-color);
}

.information-list__link {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-gray-color);
}

/* стиль на нижнюю черту прописан в header */
.information-list__link:focus-visible::after {
    background-color: var(--footer-black-color);
    transform: scaleX(1);
}

.information-list__link:focus-visible {
    outline: none;
}

.information-list__item:hover .information-list__link::after {
    background-color: var(--footer-black-color);
    transform: scaleX(1);
}