 :root {
     --light-red: #BA172D;
     --red: #941224;
     --red2: #D04B5D;
     --red3: #CE4545;
     --red4: #47121A;
     --red5: #410000;
     --dark-red: #5F1822;
     --white: #fff;
     --black: #000;
     --black2: #171717;
     --balck3: #232323;
     --black4: #212121;
     --black5: #393939;  
     --black6: #0D0D0D;  
     --light-gray: #F0F0F0;
     --gray: #EAEAEA;
     --gray2: #EFEFEF;
     --gray3: #3A3A3A;
     --gray4: #7D7D7D;
     --gray5: #5A5A5A;
     --gray6: #F5F5F5;
     --gray7: #414141;
     --gray8: #A4A4A4;     
     --dark-gray: #393939;
     --green: #45CE6B;
     --blue: #07F;
     --light-blue: #27A7E7;
 }