.main {    
    font-size: 14px;
}

/* header */
.header {
    width: 100%;
    height: 90px;
    /* margin: 0 auto; */
    margin-bottom: 43px;
    padding: 23px 20px;
    background-color: var(--white);
    box-shadow: 0px 3.386px 5.644px 0px rgba(176, 190, 197, 0.32), 0px 9.03px 27.09px 0px rgba(176, 190, 197, 0.32);
}

.header__block {
    margin: 0 auto;
}

.header__link {
    margin-right: 53px;
}

.header__input {
    width: 581px;
    height: 44px;
    padding: 12px 16px;
    border: 1px solid rgba(51, 51, 51, 0.20);
    color: var(--black);
}

.header__input::placeholder {
    color: var(--txt-grey);
}


/* main */
.table-container__title {
    margin-bottom: 10px;
}

.table {
    margin-bottom: 40px;
    border-spacing: 0px;
}

.table-head {
    height: 43px;
}

.table-head__th {  
    
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    color: var(--txt-grey);
}

.table-head__th-block {
    display: flex;
    align-items: center;
}

.table-head__th:nth-child(-n+4):hover span {
    color: var(--dark-violet);
}

.table-head__th:nth-child(-n+4):active span {
    color: var(--violet);
}

.table-head__th:nth-child(-n+4) {
    cursor: pointer;
}

.table-head__th:nth-child(1) {
    width: 88px;
    padding-top: 14px;
    padding-left: 18px;
}

.table-head__th:nth-child(2) {
    width: 232px;
    padding-top: 14px;
}

.table-head__th:nth-child(3) {
    width: 155px;
    padding-right: 65px;
}

.table-head__th:nth-child(4) {
    width: 143px;
    padding-right: 26px;
}

.table-head__th:nth-child(5) {
    width: 151px;
    padding-top: 17px;
}

.table-head__th:nth-child(6) {
    width: 190px;
    padding-top: 17px;
    padding-right: 153px;
}

.table-head__th svg {
    transition: var(--transition);
}

.table-head__th .id {
    color: var(--violet);
}

.table__tbody-tr {
    height: 60px;
    background-color: var(--white);
    transition: 1s ease-in-out;
}

.table__tbody-td {
    height: 60px;
    padding-right: 10px;
    border-bottom: 1px solid var(--grey);
    font-weight: 400;
}

.table__tbody-td:first-child {
    padding-left: 20px;
}

.table__tbody-td:last-child {
    padding-right: 20px;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;

}

.table__tbody-td:nth-child(1) {
    font-size: 12px;
}

.table__tbody-td:nth-child(1),
.table__tbody-create-time,
.table__tbody-updated-time {
    color: var(--txt-grey);
}

.table__tbody-create-date,
.table__tbody-updated-date {
    margin-right: 10px;
}

.table__tbody-btn {
    position: relative;
    text-align: right;
}

.btn-edit {
    position: relative;
    width: 85px;
    margin-right: 26px;
}

.btn-delete {
    position: relative;
    width: 74px;
}

.btn-edit::before {
    position: absolute;
    content: url('../img/edit.svg');
    left: 0;
    text-align: center;
}

.btn-delete::before {
    position: absolute;
    content: url('../img/delete.svg');
    left: 0;
    text-align: center;
}

.btn-edit::after,
.btn-delete::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--violet);
    transform: scaleX(0);
    transition: var(--transition);
}

.btn-edit::after {
    width: 81%;
}

.btn-delete::after {
    width: 75%;
}

.btn-edit:hover::after,
.btn-delete:hover::after {
    transform: scaleX(1);
}

.btn-edit:hover,
.btn-delete:hover {
    transition: var(--transition);
    color: var(--violet);
}

.btn-edit:active,
.btn-delete:active {
    color: var(--violet);
}

.btn-edit:active::after,
.btn-delete:active::after {
    background-color: var(--violet);
}

.add-client {
    justify-content: center;
}

.add-client__btn,
.add-client__btn-stub {
    width: 216px;
    height: 44px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--violet);
    font-weight: 600;   
    font-size: 14px; 
    color: var(--violet);
    transition: var(--transition);
}

.add-client__btn:hover,
.add-client__btn-stub:hover {
    background-color: var(--violet);
    color: var(--white);
}

.add-client__btn:hover .add-client__svg path, 
.add-client__btn-stub:hover .add-client__svg-stub path {
    transition: var(--transition);
    fill: var(--white);
}

.add-client__btn:active {
    background-color: var(--dark-violet);
    color: var(--white);
}

/* Форма добавления нового клиента */
.form {
    position: fixed;
    width: 450px;
    min-height: 400px;
    top: 150px;
    margin-inline: auto;
    inset-inline: 0;
    z-index: 2;
    opacity: 0;
    padding-bottom: 30px;
    transition: var(--transition);
    background-color: var(--white);
}

.form__top-block {
    padding: 25px;
}

.form__title-block {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.form__title-id-block {
    justify-content: space-between;
    align-items: center;
}

.form__title {
    margin-right: 10px;
    margin-bottom: 5px;
}

.form__title-id {
    color: var(--txt-grey);
    font-size: 12px;
    font-weight: 400;
}

.form__close-btn:focus .form__svg-cross path,
.window-delete-client__cross-btn:focus .form__svg-cross path {
    transition: var(--transition);
    fill: var(--dark-violet);
}

.form__close-btn:hover .form__svg-cross path,
.window-delete-client__cross-btn:hover .form__svg-cross path {
    transition: var(--transition);
    fill: var(--violet);
}

.form__close-btn:active .form__svg-cross path,
.window-delete-client__cross-btn:active .form__svg-cross path {
    transition: var(--transition);
    fill: var(--dark-violet);
}

.form__input {
    width: 100%;
    height: 30px;
    margin-bottom: 32px;
    border: none;
    border-bottom: 1px solid var(--grey);
    background-repeat: no-repeat;
    background-position: left 0 bottom 55%;
}

.form__input:last-child {
    margin-bottom: 0;
}

.form__input:focus {
    outline: none;
    border-color: var(--black);
}

.input-name {
    background-image: url('../img/name-placeholder.png');
}

.input-surname {
    background-image: url('../img/surname-placeholde.png');
}

.input-lastname {
    background-image: url('../img/lastname-placeholde.png');
}

.bcg-none {
    background-image: none;
}

.form__add-contact-block {
    width: 100%;
    min-height: 35px;
    margin-bottom: 25px;
    padding: 0 30px 0 30px;
    background-color: rgba(200, 197, 209, 0.3);
}

.create-data {
    position: relative;
    width: 391px;
    height: 37px;
    margin-bottom: 20px;
    border: 1px solid var(--grey);
}

.create-data__data-type-btn {
    width: 123px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    transition: var(--transition);
    font-size: 12px;
    background-color: var(--grey2);
}

.create-data__data-type-btn:hover {
    background-color: var(--grey);
}

.create-data__data-type-btn:active {
    background-color: var(--violet);
    color: var(--white);
}

.create-data__data-type-btn:active .create-data__arrow path {
    transition: var(--transition);
    fill: var(--white);
}

.create-data__select-list {
    position: absolute;
    width: 125px;
    height: 136px;
    left: -1px;
    top: 36px;
    padding: 10px 0;
    z-index: 1;
    border: 1px solid var(--grey);
    border-top: none;
    background-color: var(--grey3);
}

.create-data__select-item:not(:last-child) {
    margin-bottom: 9px;
}

.create-data__select-btn {
    width: 100%;
    height: 22px;
    text-align: start;
    padding-left: 12px;
}

.create-data__select-btn:hover {
    background-color: var(--grey);
}

.create-data__select-btn:active {
    background-color: var(--violet);
    color: var(--white);
}

.create-data__input {
    width: 240px;
    height: 100%;
    padding: 8px 12px;
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
}

.create-data__input:focus {
    outline: none;
}

.create-data__delete-btn {
    width: 27px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--grey2);
    transition: var(--transition);
}

.create-data__delete-btn:hover .create-data__delete-svg path {
    transition: var(--transition);
    fill: var(--red);
}

.create-data__delete-btn:active {
    background-color: var(--grey);
}

.form__add-contact-btn-block {
    justify-content: center;
    align-items: center;
    height: 35px;
    gap: 4px;
}

.form__add-contact-btn {
    padding-bottom: 3px;
    font-weight: 600;
}

.form__add-contact-btn:hover {
    color: var(--violet);
}

.form__add-contact-btn:active {
    color: var(--dark-violet);
}

.form__bottom-block {
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.form__save-btn {
    width: 147px;
    height: 44px;
    padding: 14px 35px;
    background-color: var(--violet);
    color: var(--white);
    font-weight: 600;
}

.form__save-btn:focus,
.window-delete-client__delete-btn:focus {
    transition: var(--transition);
    background-color: var(--dark-violet);
}

.form__save-btn:hover,
.window-delete-client__delete-btn:hover {
    transition: var(--transition);
    background-color: var(--dark-violet);
}

.form__save-btn:active,
.window-delete-client__delete-btn:active {
    transition: var(--transition);
    background-color: var(--violet);
}

.form__cansel-btn,
.window-delete-client__cancel-btn,
.form__delete-btn {
    position: relative;
    font-size: 12px;
    transition: var(--transition);
}

.form__cansel-btn::after,
.window-delete-client__cancel-btn::after,
.form__delete-btn::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: var(--black);
    transform: scaleX(0);
    transition: var(--transition);
}

.form__cansel-btn:hover::after,
.window-delete-client__cancel-btn:hover::after,
.form__delete-btn:hover::after {
    transform: scaleX(1);
}

.form__cansel-btn:active,
.window-delete-client__cancel-btn:active,
.form__delete-btn:active {
    color: var(--violet);
}

.form__cansel-btn:active::after,
.window-delete-client__cancel-btn:active::after,
.form__delete-btn:active::after {
    transform: scaleX(1);
    background-color: var(--violet);
}

.window-delete-client {
    position: fixed;
    width: 450px;
    height: 215px;
    flex-direction: column;
    align-items: center;
    top: 243px;
    margin-inline: auto;
    inset-inline: 0;
    z-index: 2;
    padding: 22px 14px;
    background-color: var(--white);
}

.window-delete-client__title {
    margin-bottom: 15px;
}

.window-delete-client__text {
    margin-bottom: 25px;
    text-align: center;
}

.window-delete-client__delete-btn {
    width: 130px;
    height: 44px;
    margin-bottom: 10px;
    background-color: var(--violet);
    color: var(--white);
}

.window-delete-client__cross-btn {
    position: absolute;
    right: 15px;
    top: 15px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: var(--transition);
    background-color: #333;
    opacity: 0;
    z-index: 0;
}

.tooltip-container {
    position: fixed;
    height: 37px;
    background-image: url('../img/tooltip-bcg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
}

.tooltip {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 15px;
    background-color: var(--black);
    color: var(--white);
    font-size: 12px;
    font-weight: 700;
}

@keyframes loading {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.load-container {
    position: absolute;
    width: 984px;
    height: 400px;
    flex-direction: column;
    top: 410px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.load-container__top-block {    
    width: 984px;
    height: 300px;    
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: var(--white);
}

.load-container__top-block-svg {
    animation: loading 1s infinite linear;
    transform: translateY(1%);
}

.load-container__bottom-block {
    position: absolute;
    width: 984px;
    height: 85px;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--bcg-body);
}

.save-load {
    position: fixed;
    width: 200px;
    height: 200px;
    top: 355px;
    left: 50%;
    justify-content: center;
    align-items: center;  
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border-radius: 10px;
    z-index: 99;
    border: 1px solid var(--violet);
}

